Options -MultiViews
RewriteEngine On

# Externally redirect to remove .php extension from URLs
RewriteCond %{THE_REQUEST} \s/(.+)\.php\s [NC]
RewriteRule ^ /%1 [R=301,L,QSA]

# Internally rewrite URLs without extension to .php files if they exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

# Redirect to custom_404.php if page is not found
ErrorDocument 404 /custom_404.php
